$primaryColor: #FF4C01;
$primaryColorHover: #da4201;
$buttonColor: #01F65D;
$buttonColorHover: #01df5b;
$darkColor: #202020;
$darkColorHover: #2d2d2d;

$h1FontSize: 170px;

$h1MobileFontSize: 72px;
$h1MediumMobileFontSize: 60px;
$h1SmallMobileFontSize: 52px;

$h5FontSize: 44px;

$normalFontSize: 16px;
$width: 50vw;
