$primaryColor: #FF4C01;
$primaryColorHover: #da4201;
$buttonColor: #01F65D;
$buttonColorHover: #01df5b;
$darkColor: #202020;
$darkColorHover: #2d2d2d;

$h1FontSize: 170px;
$h1TabletFontSize: 120px;

$h1MobileFontSize: 72px;
$h1MediumMobileFontSize: 64px;
$h1SmallMobileFontSize: 52px;

$h5FontSize: 44px;
$h5MobileFontSize: 32px;
$h5MediumMobileFontSize: 24px;
$h5SmallMobileFontSize: 24px;

$normalFontSize: 16px;
$width: 1024px;
$widthTablet: 800px;

$maxWidthSmallDesktop: 1024px;
$maxWidthTablet: 768px;
$maxWidthMobile: 425px;
$maxWidthMediumMobile: 375px;
$maxWidthSmallMobile: 340px;

$marginOnTablet: 80px;
$marginMobile: 32px;
$marginMediumMobile: 24px;
