$primaryColor: #FF4C01;
$buttonColor: #01F65D;
$darkColor: #1F1F1F;

$h1FontSize: 120px;

$h1MobileFontSize: 72px;
$h1MediumMobileFontSize: 60px;
$h1SmallMobileFontSize: 52px;

$h5FontSize: 44px;

$normalFontSize: 18px;
